 /* Rate Banners Start */
 .banner.rate {
    padding-bottom: 0px;

    .hero-area {
        padding: 100px 0 120px;

        .banner-content {
            h2.title {
                color: #fff;
            }

            p.text {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                padding-top: 10px;
            }
        }

        .alert-pic {
            text-align: right;
            .alertphoto{
                -webkit-animation: dan-bam 3s linear infinite;
                        animation: dan-bam 3s linear infinite;
            }
        }

    }
}

/* Rate-tracker Start */
.rate-tracker {
    padding: 71px 0 120px;

    .content {
        text-align: center;

        h2.title {
            color: $body-color-2;
        }

        p.text {
            padding: 10px 33px 0px;
            color: $body-color;
        }
    }

    .rate-details {
        margin: 60px 0px 0px;
        padding: 60px 40px 60px;
        border-radius: 30px;
        box-shadow: 0px 25px 122px 0px rgba(50, 35, 215, 0.1);

        .rate-box  {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            line-height: 1.556;
            font-weight: 500;
            color: #292669;
            margin-top: 40px;
            padding-top: 40px;
            border-top: 1px solid rgb(211, 209, 238); 
            p.text {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
            
            label {
                padding-left: 8px;
            }
        }
        .rate-box.one {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 0px;
            padding-top: 0px;
            border-top: 0px; 
            .country {
                width: 25%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border: 1px solid rgba(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0px 5px 26.1px 3.9px rgba(23, 29, 113, 0.05);
                height: 54px;
                padding: 0 19px;
                background: rgba(255, 255, 255, 0.17);
                color: #636199;

                .language-select {
                    width: 100%;

                    .nice-select {
                        background: transparent;
                        font-family: 'Poppins', sans-serif;
                        background-color: transparent;
                        border: none;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.556;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        width: 100%;

                        &:after {
                            border-top: 5px solid #d8d7e500;
                            border-left: 5px solid #d8d7e500;
                            border-bottom: 5px solid #d8d7e5;
                            border-right: 5px solid #d8d7e5;
                            width: 0px;
                            height: 0px;
                            right: 0%;
                            top: 45%;
                        }

                        .list {
                            width: 100%;

                            li {
                                text-align: center;
                                font-size: 18px;
                                line-height: 1.556;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 600;
                                color: #636199;
                            }
                        }
                    }
                }
            }
        }
        .rate-box.three  {
            .form-box {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                .form-group {
                    margin-right: 20px;

                    .textnum {
                        width: 254px;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 700;
                        color: #3266c5;
                        border: 1px solid rgb(185, 177, 218);
                        border-radius: 10px;
                        height: 44px;
                        padding: 0px 10px;

                        &::-webkit-input-placeholder {
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                            color: #3266c5;
                        }

                        &::-moz-placeholder {
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                            color: #3266c5;
                        }

                        &:-ms-input-placeholder {
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                            color: #3266c5;
                        }

                        &::placeholder {
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;
                            line-height: 28px;
                            font-weight: 700;
                            color: #3266c5;
                        }
                    }
                }
            }
        }
        .rate-box.four {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column; 

            h4.alert-expairy{
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;   
                margin-bottom: 30px;
            }
            .box{
                .form-box {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    .textnum.date {
                        margin-left: 140px;
                        width: 254px;
                        font-weight: 500;
                        color: #292669;
                        width: 254px;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        line-height: 28px; 
                        border: 1px solid rgb(185, 177, 218);
                        border-radius: 10px;
                        height: 44px;
                        padding: 0px 10px;
                        &::-webkit-input-placeholder {
                            font-weight: 500;
                            color: #292669;
                        }
                        &::-moz-placeholder {
                            font-weight: 500;
                            color: #292669;
                        }
                        &:-ms-input-placeholder {
                            font-weight: 500;
                            color: #292669;
                        }
                        &::placeholder {
                            font-weight: 500;
                            color: #292669;
                        }
                    }
                }
            }
        }
        .rate-box.five{
            .button{
                color: rgb(181, 180, 194);
                -webkit-transition: $transition;
                transition: $transition;
                i{
                    margin-right: 10px;
                }
                
                &:hover{
                    color: #292669;
                    border-color: #292669;
                }
            }
        }

        .subscribe-box{
            margin-top: 70px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            h4.yourmail{
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                line-height: 34px;
                font-weight: 700;    
            }
            .form-control {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #292669;
                height: 54px;
                background: transparent;
                outline: none;
                border: 1px solid rgb(185, 177, 218);
                border-radius: 25px;
                padding: 0px 24px 0px 24px; 
                width: 140%;
                &::-webkit-input-placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #b5b4c2;
                    line-height: 1.556;
                }
                &::-moz-placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #b5b4c2;
                    line-height: 1.556;
                }
                &:-ms-input-placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #b5b4c2;
                    line-height: 1.556;
                }
                &::placeholder {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: #b5b4c2;
                    line-height: 1.556;
                }
            }

            button.button-1 {  
                background-color: rgb(255, 180, 0);
                box-shadow: 0px 5px 13.28px 2.72px rgba(0, 0, 0, 0.1);
                height: 54px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                color: rgb(255, 255, 255);
                line-height: 1.5;
                border-radius: 25px;
                border: none;
                -webkit-transition: 0.1s;
                transition: 0.1s;
                &:hover{
                    background-color: rgb(245, 174, 8);
                }
            }
        }
    }
} 
  